<body>
  <div class="profile-container">
    <div class="profile-header">
      <h1>Perfil de Usuario</h1>
    </div>
    <div class="profile-table">
      <table>
        <tr>
          <td><strong>Nombre:</strong></td>
          <td id="nombre">John Doe</td>
        </tr>
        <tr>
          <td><strong>Apellido:</strong></td>
          <td id="apellido">Smith</td>
        </tr>
        <tr>
          <td><strong>Correo:</strong></td>
          <td id="correo">johna.com</td>
        </tr>
        <tr>
          <td><strong>ID:</strong></td>
          <td id="id">ABC123</td>
        </tr>
        <tr>
          <td><strong>Celular:</strong></td>
          <td id="celular">+123 456 789</td>
        </tr>
        <tr>
          <td><strong>Rol:</strong></td>
          <td id="rol">Usuario</td>
        </tr>
        <tr>
          <td><strong>Dirección:</strong></td>
          <td id="direccion">Calle Principal, Ciudad</td>
        </tr>
        <button class="nice-button" (click)="obtenerEmpleado()">ver usuarios</button>
      </table>
    </div>
  </div>
</body>
