<body>
  <header>
    

    <section id="banner">
      <h1 class="title1">Valle de Mascotas</h1>
      <img class="img1" src="../../assets/img.jpg" alt="Mascotas felices" />
      <p>
        Bienvenido a Valle de Mascotas, donde cuidamos y amamos a tus compañeros
        peludos.
      </p>
    </section>

    <section id="servicios">
      <h2>Servicios</h2>
      <p>
        Ofrecemos una amplia gama de servicios veterinarios para garantizar la
        salud y felicidad de tus mascotas.
      </p>
      <!-- Agrega aquí la información detallada sobre los servicios -->
    </section>

    <section id="equipo">
      <h2>Nuestro Equipo</h2>
      <p>
        Conoce a nuestro equipo de veterinarios apasionados y amantes de los
        animales.
      </p>
      <!-- Agrega aquí la información sobre los miembros del equipo -->
    </section>

    <section id="contacto">
      <h2>Contacto</h2>
      <p>
        Estamos aquí para ayudarte. ¡Contáctanos para programar una cita o hacer
        cualquier pregunta!
      </p>
      <!-- Agrega aquí el formulario de contacto o información de contacto -->
    </section>

    <footer>
      <p>&copy; 2023 Valle de Mascotas. Todos los derechos reservados.</p>
    </footer>
  </header>
</body>
