<nav class="navbar">
    <div class="logo">
      <img src="../assets/img1.png" alt="" />
    </div>
    <ul class="nav-list">
      <li><a routerLink="/index"><img src="../assets/home.png" alt=""></a></li>
      <li><a routerLink="/login"><img src="../assets/login.png" alt=""></a></li>
      <li><a routerLink="/registro"><img src="../assets/registro.png" alt=""></a></li>
      <li><a routerLink="/recuperar"><img src="../assets/recuperar.png" alt=""></a></li>
      <li><a routerLink="/producto"><img src="../assets/producto.png" alt=""></a></li>
      <li><a routerLink="/carrito"><img class="carrito" src="../assets/carrito.png" alt=""></a></li>
    
    </ul>
  </nav>
  <br /><br />
  <router-outlet></router-outlet>
  