
<div class="container">
    <form >
      <label for="productId">ID:</label>
      <input type="text" id="productId" name="productId"  readonly>
  
      <label for="productName">Nombre:</label>
      <input type="text" id="productName" name="productName"  required>
  
      <label for="productDescription">Descripción:</label>
      <input type="text" id="productDescription" name="productDescription"  required>
  
      <label for="productBrand">Marca:</label>
      <input type="text" id="productBrand" name="productBrand" required>
  
      <button type="submit">Agregar/Actualizar Producto</button>
    </form>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Marca</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
  